@tailwind base;
@tailwind components;
@tailwind utilities;

/* ローディング画面 */
#loading {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #0bd;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
 
/* コンテンツ部分の装飾 */
.gallery {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pc-only {
  @apply hidden md:block;
}
.sp-only {
  @apply md:hidden;
}